# Ignore model files
*.pkl

# Ignore Python cache
__pycache__/

# Ignore Streamlit temporary files
.streamlit/

# Ignore Jupyter notebooks checkpoints (if any)
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
